.logoutButton {
  border: none;
}

.gravatar {
  max-height: unset !important;
}

.gravatarFallback {
  border-radius: 50%;
  height: 100% !important;
  width: 100% !important;
}

.login,
.login:visited,
.login:hover,
.login:active {
  color: var(--primary-color-invert) !important;
}
