:not(.fas) {
  font-family: var(--font-family) !important;
}

a,
button {
  bottom: 16px !important;
  box-shadow: 0 2px 4px hsla(0, 0%, 0%, 0.5) !important;
  font-size: 0 !important;
  right: 16px !important;
}

.fas {
  background-image: url(add.svg) !important;
  background-position: 13px 13px !important;
  background-repeat: no-repeat !important;
  background-size: 30px !important;
  color: transparent !important;
}
