/**
 * Add a white background color, so mermaid diagrams still look good in dark mode.
 */
.mermaid svg {
  background-color: hsl(0, 0%, 100%);
}

/**
 * Classes are used to style rendered Markdown content.
 *
 * The styles can be added by prepending the content with an empty span element that has the class.
 */

/**
 * Float an element to the right. This is especially useful for images.
 */
.float-right + * {
  float: right;
  margin: 5px 10px;
}

.screenshot + * {
  width: 300px;
}
