/* stylelint-disable selector-max-specificity */
.logoutButton {
  background-color: transparent;
  border: none;
  border-radius: 2px;
  color: #4a4a4a;
  cursor: pointer;
  display: block;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.25;
  outline: none;
  padding: 0.5em 0.75em;
  text-align: left;
  text-decoration: none;
  width: 100%;

  &:hover {
    background-color: #f5f5f5;
    color: #363636;
  }
}
