/* Necessary to avoid webpack tree-shaking from causing bugs */

/* No idea why imports only work sometimes in blocks */
@import url(@milkdown/crepe/theme/common/style.css);
@import url(@milkdown/crepe/theme/frame.css);

.gap {
  gap: 1rem;
}

:global(#root-crepe .milkdown .editor) {
  padding: 0;
}

:global(#root-crepe .milkdown .editor p) {
  padding-top: 1rem;
}
