/* Necessary to avoid webpack tree-shaking from causing bugs */

/* Keep these Crepe theme imports in this CSS module so they are included in the block bundle. */
@import url(@milkdown/crepe/theme/common/prosemirror.css);
@import url(@milkdown/crepe/theme/common/reset.css);
@import url(@milkdown/crepe/theme/common/cursor.css);
@import url(@milkdown/crepe/theme/common/link-tooltip.css);
@import url(@milkdown/crepe/theme/common/list-item.css);
@import url(@milkdown/crepe/theme/common/placeholder.css);
@import url(@milkdown/crepe/theme/common/table.css);
@import url(@milkdown/crepe/theme/frame.css);

.gap {
  gap: 1rem;
}

:global(#root-crepe .milkdown .editor) {
  padding: 0;
  min-height: calc(var(--markdown-min-rows, 0) * 1.5em);
}

:global(#root-crepe .milkdown .editor p) {
  padding-top: 1rem;
}
