.erdNode {
  background-color: rgb(255 255 255);
  border-radius: 8px;
  box-shadow: 0 2px 4px rgb(0 0 0 / 10%);
}

.erdNode h1 {
  background-color: var(--primary-color);
  border-radius: 8px 8px 0 0;
  color: rgb(255 255 255);
  font-size: 1.5em;
  margin: 0;
  padding: 10px;
  text-align: center;
}

.erdNode table {
  border-collapse: collapse;
  width: 100%;
}

.erdNode td {
  border: 1px solid hsl(0deg 0% 0%);
  max-width: 200px;
  overflow: hidden;
  padding: 8px;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.erdNode td:first-child {
  width: 70%;
}

.erdNode td:last-child {
  width: 30%;
}
