.container {
  max-width: 360px;
}

.light {
  border-color: transparent;
  color: hsl(0deg 0% 100%);

  &:hover,
  &:active {
    border-color: transparent;
    color: hsl(0deg 0% 100%);
  }
}

.telegram {
  background-color: hsl(200deg 100% 40%);
}

.twitter {
  background-color: hsl(203deg 89% 53%);
}

.facebook {
  background-color: hsl(220deg 46% 48%);
}

.whatsapp {
  background-color: hsl(142deg 70% 49%);
}

.linkedin {
  background-color: hsl(199deg 85% 36%);
}
