.gravatar {
  height: 100% !important;
  max-height: unset !important;
  object-fit: cover;
  overflow: hidden;
}

.gravatarFallback {
  border-radius: 50%;
  height: 100% !important;
  width: 100% !important;
}

.logoutButton {
  border: none;
  cursor: pointer;
  width: 100%;
}
