/* stylelint-disable no-descending-specificity, selector-max-specificity */
:not(.fas) {
  font-family: var(--font-family) !important;
}

.field:not(:last-child) {
  margin: 0;
}

.field-label {
  display: none;
}

.input {
  height: 2.5em !important;
  line-height: 1.25 !important;
  padding-left: 1em !important;
}

.textarea {
  border-radius: 0 !important;
  padding-left: 1em !important;
  &:not([rows]) {
    min-height: 100px;
  }
}

.input,
.textarea {
  border-color: transparent !important;
  box-shadow: 0 0 0 !important;
  font-size: 0.875rem !important;

  &:focus,
  &:active {
    border-color: transparent !important;
    box-shadow: 0 0 0 0.125em rgba(78, 78, 78, 0.1) !important;
  }
}

.select {
  border-color: transparent !important;
  border-radius: 0 !important;
  font-size: 0.875rem !important;
  height: 2.5em !important;
  width: 100% !important;

  & select {
    border-color: transparent !important;
    border-radius: 0 !important;
    font-size: 0.875rem !important;
    height: 2.5em !important;
    padding-left: 1em !important;
    width: 100% !important;
  }

  &:not(.is-multiple)::after {
    border: 1px solid #787878 !important;
    border-right: 0 !important;
    border-top: 0 !important;
  }

  & select:focus,
  & select:active {
    border-color: transparent !important;
    box-shadow: 0 0 0 0.125em rgba(78, 78, 78, 0.1) !important;
  }
}

.button.is-primary {
  background-color: var(--primary-color) !important;
  border-radius: var(--border-radius) !important;
  display: block;
  font-size: 0.875rem !important;
  font-weight: 100;
  margin: 2em auto 2em auto !important;
  text-transform: uppercase;
  width: 50% !important;

  &:hover {
    background-color: #eb6e6e !important;
    border-color: transparent !important;
  }

  &:focus:not(:active) {
    box-shadow: 0 0 0 0 !important;
  }
}

form {
  max-width: initial !important;
  padding: 0 !important;
}

.field.is-horizontal {
  box-sizing: border-box;
  max-width: 100vw;
  padding: 0.5em 0;
}
