button {
  background-color: #fc6ff0;
  border: none;
  border-radius: 50%;
  bottom: 12px;
  box-shadow: 0 0 12px 3px;
  cursor: pointer;
  font-size: 24px;
  height: 56px;
  outline: none;
  padding: 0;
  position: fixed;
  right: 12px;
  width: 56px;
  z-index: 100000;
}
