.dropdown {
  background: transparent;
  border: none;
  height: 100%;

  &:focus,
  &:hover {
    background: transparent;
  }

  &:focus-visible {
    outline: 2px solid var(--primary-color-invert);
    outline-offset: -3px;
  }
}
