.content {
  background-color: rgb(255 255 255);
  min-height: 100%;
  /* &.fullscreen { */
  /*   padding-top: 3.95rem !important; */
  /**/
  /*   &.code { */
  /*     padding-top: 3.75rem !important; */
  /*   } */
  /* } */
  /**/
  /* &.code { */
  /*   @media (max-width: 1023px) { */
  /*     padding-top: 0.6rem !important; */
  /**/
  /*     &.fullscreen { */
  /*       padding-top: 0.6rem !important; */
  /*     } */
  /*   } */
  /* } */
}

.fullHeight {
  height: 100%;
}
