@value navbar-height: 3.25rem;

.content {
  background-color: rgb(255 255 255);
  min-height: 100%;
}

.fullHeight {
  height: calc(100vh - navbar-height);

  &.fullscreen {
    background-color: rgb(255 255 255);
    height: 100vh !important;
    padding-top: navbar-height !important;
  }
}
