:not(.fas) {
  font-family: var(--font-family) !important;
}

:global(.leaflet-container) {
  height: 100% !important;
  left: 0 !important;
  position: absolute !important;
  right: 0 !important;
}

:global(.leaflet-interactive) {
  cursor: pointer;
  height: 50px;
}
