.container {
  display: block;
  overflow: hidden;
  position: relative;
}

.wrapper {
  display: inline-flex;
  position: relative;
}

.starsActive {
  float: left;
  overflow: hidden;
  position: relative;
  white-space: nowrap;
  & * {
    color: hsl(48, 99%, 47%) !important;
  }
}

.starsInactive {
  left: 0;
  position: absolute;
  top: 0;
  & * {
    color: hsl(0, 0%, 50%) !important;
  }
}

.starButton,
.starButton:hover,
.starButton:focus,
.starButton:active {
  background: none;
  border: none;
  cursor: pointer;
  outline: none;
  padding: 0;
}
