default:
  image: node:24-trixie-slim@sha256:1c78323e27e7aff8ac92377845119cd52ac3d3b22e197b3b14e8eb64af387f8c

stages:
  - build
  - test
  - end 2 end

workflow:
  rules:
    # By default, run jobs for every merge request.
    - if: $CI_MERGE_REQUEST_ID
    # By default, run jobs for every commit on main.
    - if: $CI_COMMIT_BRANCH == 'main'
    # By default, run jobs for every commit on staging.
    - if: $CI_COMMIT_BRANCH == 'staging'
    # By default, run jobs for every tag
    - if: $CI_COMMIT_TAG

###################################################################################################
#  Job Templates                                                                                  #
###################################################################################################

# A preset for running Docker in Docker.
.docker:
  interruptible: true
  services:
    - docker:dind@sha256:8bcbad4b45f0bff9d3e809d85a7ac589390f0be8acbc526850c998c35c1243fd
  image: docker@sha256:8bcbad4b45f0bff9d3e809d85a7ac589390f0be8acbc526850c998c35c1243fd
  dependencies: []
  before_script:
    - echo $CI_REGISTRY_PASSWORD | docker login -u $CI_REGISTRY_USER --password-stdin $CI_REGISTRY

###################################################################################################
#  Build Stage                                                                                    #
###################################################################################################

npm_ci:
  stage: build
  cache:
    key:
      files:
        - package-lock.json
    paths:
      - node_modules/
      - '**/node_modules'
      - /root/.npm/
  artifacts:
    paths:
      - node_modules/
      - '**/node_modules'
    expire_in: 1 day
  script:
    - npm ci

# Build the Docker image.
build docker image:
  extends: .docker
  stage: build
  cache:
    key: '$CI_COMMIT_REF_NAME'
    paths:
      - /root/.npm/
  script:
    # https://docs.gitlab.com/ee/ci/docker/docker_layer_caching.html
    # We're pulling latest if no previous builds exist because we want the greatest possibility of cache hits for build layers.
    - CACHE_IMAGE="$CI_REGISTRY_IMAGE:$CI_COMMIT_REF_SLUG"
    # We wouldn't like anything funny to happen to us because of cache
    - if [ "$CI_COMMIT_REF_NAME" == "main" ] || [ "$CI_COMMIT_REF_NAME" == "staging" ]; then USE_CACHE="0"; else USE_CACHE="1"; fi
    - if ! docker pull "$CACHE_IMAGE"; then CACHE_IMAGE="$CI_REGISTRY_IMAGE:latest"; docker pull "$CACHE_IMAGE" || true; fi
    - docker build
      -t "$CI_REGISTRY_IMAGE:$CI_COMMIT_REF_SLUG"
      --cache-from "$CACHE_IMAGE"
      --build-arg "BUILDKIT_INLINE_CACHE=$USE_CACHE"
      --build-arg "version=$CI_COMMIT_REF_NAME"
      --build-arg "date=$CI_JOB_STARTED_AT" .
    - docker push "$CI_REGISTRY_IMAGE:$CI_COMMIT_REF_SLUG"
    # Extract dist/ from the built image for sourcemap uploads to Sentry
    - mkdir -p dist
    - docker run --rm -v $(pwd)/dist:/host/dist "$CI_REGISTRY_IMAGE:$CI_COMMIT_REF_SLUG" cp -r /app/dist /host/
  artifacts:
    paths:
      - dist/

# Populate a postgres database with the 'default' values we need for the platform to function
seed database:
  stage: build
  interruptible: true
  needs:
    - build docker image
    - npm_ci
  rules:
    - if: $CI_MERGE_REQUEST_ID && $CI_MERGE_REQUEST_SOURCE_PROJECT_PATH == 'appsemble/appsemble'
    - if: $CI_COMMIT_TAG
  variables:
    FF_NETWORK_PER_BUILD: 'true'
    DATABASE_HOST: database
    DATABASE_PORT: 5432
    DATABASE_NAME: appsemble
    DATABASE_USER: admin
    DATABASE_PASSWORD: password
  services:
    - name: postgres:17
      alias: database
      variables:
        POSTGRES_DB: appsemble
        POSTGRES_USER: admin
        POSTGRES_PASSWORD: password
    - name: minio/minio:latest@sha256:14cea493d9a34af32f524e538b8346cf79f3321eff8e708c1e2960462bd8936e
      alias: minio
      entrypoint: ['sh', '-c', 'minio server /data']
      variables:
        MINIO_ROOT_USER: admin
        MINIO_ROOT_PASSWORD: password
    - name: '$CI_REGISTRY_IMAGE:$CI_COMMIT_REF_SLUG'
      alias: appsemble
      variables:
        SECRET: secret
        AES_SECRET: secret
        HOST: 'http://appsemble:9999'
        REMOTE: 'https://appsemble.app'
        DATABASE_HOST: database
        DATABASE_PORT: 5432
        DATABASE_NAME: appsemble
        DATABASE_USER: admin
        DATABASE_PASSWORD: password
        S3_HOST: minio
        S3_SECURE: false
        S3_ACCESS_KEY: admin
        S3_SECRET_KEY: password
        migrateTo: next
  script:
    - npm run scripts create-user --
      --name $BOT_ACCOUNT_NAME
      --email $BOT_ACCOUNT_EMAIL
      --password $BOT_ACCOUNT_PASSWORD
      --timezone Europe/Amsterdam
      --clientCredentials $APPSEMBLE_CLIENT_CREDENTIALS
    - npm run appsemble -- config set remote 'http://appsemble:9999'
    - npm run appsemble -- organization create appsemble
      --description "The open source low-code app building platform"
      --email support@appsemble.com
      --icon packages/server/assets/appsemble.png
      --name Appsemble
      --website https://appsemble.com
    - npm run appsemble -- block publish 'blocks/*'
  after_script:
    - apt-get update && apt-get install -y postgresql-client
    - PGPASSWORD="password" pg_dump -h database -U admin --no-owner --no-acl appsemble > seededDb.sql
  artifacts:
    name: Default database dump
    expose_as: Default database dump
    paths:
      - seededDb.sql
    expire_in: 2 hours

build seeded db image:
  extends: .docker
  stage: build
  needs:
    - 'seed database'
  dependencies:
    - 'seed database'
  script:
    - mkdir db-image
    - cp seededDb.sql db-image/
    - |
      cat > db-image/Dockerfile <<'EOF'
      FROM postgres:17

      COPY seededDb.sql /docker-entrypoint-initdb.d/seededDb.sql

      EOF

    - docker build .
      -t "$CI_REGISTRY_IMAGE/seeded-db:$CI_COMMIT_REF_SLUG"
      --build-arg "BUILDKIT_INLINE_CACHE=$USE_CACHE"
      --build-arg "version=$CI_COMMIT_REF_NAME"
      --build-arg "date=$CI_JOB_STARTED_AT"
      -f db-image/Dockerfile
    - docker push "$CI_REGISTRY_IMAGE/seeded-db:$CI_COMMIT_REF_SLUG"

validate snippets:
  stage: test
  interruptible: true
  needs:
    - build docker image
    - npm_ci
    - build seeded db image
  rules:
    - if: $CI_MERGE_REQUEST_ID && $CI_MERGE_REQUEST_SOURCE_PROJECT_PATH == 'appsemble/appsemble'
    - if: $CI_COMMIT_TAG
  variables:
    FF_NETWORK_PER_BUILD: 'true'
    DATABASE_HOST: database
    DATABASE_PORT: 5432
    DATABASE_NAME: appsemble
    DATABASE_USER: admin
    DATABASE_PASSWORD: password
  services:
    - name: '$CI_REGISTRY_IMAGE/seeded-db:$CI_COMMIT_REF_SLUG'
      alias: database
      variables:
        POSTGRES_DB: appsemble
        POSTGRES_USER: admin
        POSTGRES_PASSWORD: password
    - name: minio/minio:latest@sha256:14cea493d9a34af32f524e538b8346cf79f3321eff8e708c1e2960462bd8936e
      alias: minio
      entrypoint: ['sh', '-c', 'minio server /data']
      variables:
        MINIO_ROOT_USER: admin
        MINIO_ROOT_PASSWORD: password
    - name: '$CI_REGISTRY_IMAGE:$CI_COMMIT_REF_SLUG'
      alias: appsemble
      variables:
        SECRET: secret
        AES_SECRET: secret
        HOST: 'http://appsemble:9999'
        REMOTE: 'https://appsemble.app'
        DATABASE_HOST: database
        DATABASE_PORT: 5432
        DATABASE_NAME: appsemble
        DATABASE_USER: admin
        DATABASE_PASSWORD: password
        S3_HOST: minio
        S3_SECURE: false
        S3_ACCESS_KEY: admin
        S3_SECRET_KEY: password
        migrateTo: next
  script:
    - npm run appsemble -- config set remote 'http://appsemble:9999'
    - npm run scripts -- validate-docs --organization appsemble --remote 'http://appsemble:9999' --clientCredentials $APPSEMBLE_CLIENT_CREDENTIALS -vv

e2e node:
  stage: end 2 end
  image: mcr.microsoft.com/playwright:v1.58.1-noble
  interruptible: true
  needs:
    - build docker image
    - npm_ci
    - build seeded db image
  rules:
    - if: $CI_MERGE_REQUEST_ID && $CI_MERGE_REQUEST_SOURCE_PROJECT_PATH == 'appsemble/appsemble'
    - if: $CI_COMMIT_TAG
  variables:
    FF_NETWORK_PER_BUILD: 'true'
    DATABASE_HOST: database
    DATABASE_PORT: 5432
    DATABASE_NAME: appsemble
    DATABASE_USER: admin
    DATABASE_PASSWORD: password
    E2E_HOST: 'http://appsemble:9999'
  services:
    - name: '$CI_REGISTRY_IMAGE/seeded-db:$CI_COMMIT_REF_SLUG'
      alias: database
      variables:
        POSTGRES_DB: appsemble
        POSTGRES_USER: admin
        POSTGRES_PASSWORD: password
    - name: minio/minio:latest@sha256:14cea493d9a34af32f524e538b8346cf79f3321eff8e708c1e2960462bd8936e
      alias: minio
      entrypoint: ['sh', '-c', 'minio server /data']
      variables:
        MINIO_ROOT_USER: admin
        MINIO_ROOT_PASSWORD: password
    - name: '$CI_REGISTRY_IMAGE:$CI_COMMIT_REF_SLUG'
      alias: appsemble
      variables:
        SECRET: secret
        AES_SECRET: secret
        HOST: 'http://appsemble:9999'
        REMOTE: 'https://appsemble.app'
        DATABASE_HOST: database
        DATABASE_PORT: 5432
        DATABASE_NAME: appsemble
        DATABASE_USER: admin
        DATABASE_PASSWORD: password
        S3_HOST: minio
        S3_SECURE: false
        S3_ACCESS_KEY: admin
        S3_SECRET_KEY: password
        migrateTo: next
        E2E: true
  script:
    - npm run appsemble -- config set context e2e
    - npm run appsemble -- config set remote 'http://appsemble:9999'
    - npm --workspace @appsemble/types run prepack
    - npm --workspace @appsemble/lang-sdk run prepack
    - npm --workspace @appsemble/utils run prepack
    - npm --workspace @appsemble/node-utils run prepack
    - npm --workspace @appsemble/e2e run e2e -- --shard=$CI_NODE_INDEX/$CI_NODE_TOTAL
  parallel: 6
  artifacts:
    expose_as: Playwright videos
    when: always
    paths:
      - packages/e2e/test-results/
    reports:
      junit: packages/e2e/results.xml
