# Node modules
node_modules/

# Build output for various packages
dist/

# This may be used for testing create-appsemble
/blocks/test/

# Jest output
coverage/
__diff_output__/
junit.xml

# Cypress test output and configuration
/packages/e2e/test-results/
/packages/e2e/playwright-report/
/packages/e2e/playwright/.cache/
/packages/e2e/results.xml
# can be removed after playwright has been updated to v1.33, see https://github.com/microsoft/playwright/issues/22048
salt

# Use this prefix for GitLab reports
/gl-*

# Log files by various tools, such as yarn
*.log

# Generated npm packages
*.tgz

# Any kind of certificate used for using SSL locally
/*.pem

# Lighthouse reports
/.lighthouseci/

# Helm charts hosted on GitLab pages
public/

*.d.ts
*.js
*.map
!*.config.js
!*rc.js
