# Node modules
node_modules/
yarn.lock

# Build output for various packages
dist/

# This may be used for testing create-appsemble
/blocks/test/

# Vitest output
coverage/
__diff_output__/
junit.xml

# Playwright test output and configuration
/packages/e2e/test-results/
/packages/e2e/playwright-report/
/packages/e2e/playwright/.cache/
/packages/e2e/.auth/
/packages/e2e/results.xml

# Use this prefix for GitLab reports
/gl-*

# Log files by various tools
*.log

# Generated npm packages
*.tgz

# Any kind of certificate used for using SSL locally
/*.pem

# Lighthouse reports
/.lighthouseci/

# Helm charts hosted on GitLab pages
public/

*.d.ts
*.js
*.map
*.tsbuildinfo
!*.config.js
!*rc.js

# Eslint plugin javascript files
!/packages/eslint-plugin/*.js
!/packages/eslint-plugin/**/*.js
