# Node modules
node_modules/

# Build output for various packages
dist/

# This may be used for testing create-appsemble
/blocks/test/

# Jest output
coverage/
__diff_output__/
junit.xml

# Cypress test output and configuration
/packages/e2e/cypress/videos/
/packages/e2e/cypress/screenshots/
/packages/e2e/cypress.env.json

# Use this prefix for GitLab reports
/gl-*

# Log files by various tools, such as yarn
*.log

# Generated npm packages
*.tgz

# Any kind of certificate used for using SSL locally
/*.pem

# Lighthouse reports
/.lighthouseci/

# Helm charts hosted on GitLab pages
public/

*.d.ts
*.js
*.map
!*.config.js
