name: pipeline
networks:
  pipeline:
    name: pipeline

services:
  postgres:
    container_name: postgres
    image: postgres:15@sha256:c6eff6624b52dc1743ad29c0703246e6cba161ed152b567ef4d433883e3c4c2d
    networks: [pipeline]
    environment:
      POSTGRES_DB: appsemble
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: password
    ports:
      - '5433:5432'

  helm:
    container_name: helm
    image: dtzar/helm-kubectl:3@sha256:d02d8d02a24d67e4851503cc443e7eb2358383c9c052f699c262409cd05dae55
    networks: [pipeline]
    tty: true
    stdin_open: true
    working_dir: /app/config
    volumes:
      - ./config/charts:/app/config/charts
