name: pipeline
networks:
  pipeline:
    name: pipeline

services:
  postgres:
    container_name: postgres
    image: postgres:15@sha256:dafc4d8e8369da730a5ee9a320a0f0b3c6aa516f41244689c4493a27dc84472d
    networks: [pipeline]
    environment:
      POSTGRES_DB: appsemble
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: password
    ports:
      - '5433:5432'

  helm:
    container_name: helm
    image: dtzar/helm-kubectl:3@sha256:d02d8d02a24d67e4851503cc443e7eb2358383c9c052f699c262409cd05dae55
    networks: [pipeline]
    tty: true
    stdin_open: true
    working_dir: /app/config
    volumes:
      - ./config/charts:/app/config/charts
