name: pipeline
networks:
  pipeline:
    name: pipeline

services:
  postgres:
    container_name: postgres
    image: postgres:15@sha256:b8e11f8a8b383e19589a086a78b10f9ca69a39d6c9dcdd9342a8697544e8b3a0
    networks: [pipeline]
    environment:
      POSTGRES_DB: appsemble
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: password
    ports:
      - '5433:5432'

  helm:
    container_name: helm
    image: dtzar/helm-kubectl:3@sha256:73db688affcea1740a7421064b1cf49b16405b42ae8cd8fbc3dee55ec8e62be9
    networks: [pipeline]
    tty: true
    stdin_open: true
    working_dir: /app/config
    volumes:
      - ./config/charts:/app/config/charts
