services:
  # A persistent database for local development.
  postgres-dev:
    image: postgres:15@sha256:a7711af921c380de0fda7c48a61fab5ac4def145fd9fc00ccea7355fd6270bb4
    restart: always
    environment:
      POSTGRES_DB: appsemble
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: password
    ports:
      - '5432:5432'

  # A database using tmpfs for faster test runs.
  postgres-test:
    image: postgres:14@sha256:5fd97d3efae5e17da18b5884532f07c411330253e0a864d8895f176ab4ab0f90
    restart: always
    environment:
      POSTGRES_DB: appsemble
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: password
    ports:
      - '54321:5432'
    tmpfs:
      - /var/lib/postgresql/data

  pgadmin:
    image: dpage/pgadmin4@sha256:50700ac17936d0227f9e3e4bb086a91efb67064debc4b4737c35545bf1564088
    restart: always
    environment:
      PGADMIN_DEFAULT_EMAIL: info@appsemble.com
      PGADMIN_DEFAULT_PASSWORD: password
    ports:
      - '2345:80'

  # MinIO service for assets
  minio:
    image: minio/minio:latest@sha256:14cea493d9a34af32f524e538b8346cf79f3321eff8e708c1e2960462bd8936e
    restart: always
    environment:
      MINIO_ROOT_USER: admin
      MINIO_ROOT_PASSWORD: password
    command: server /data --console-address ":9001"
    ports:
      - '9000:9000' # MinIO API
      - '9001:9001' # MinIO Console
    volumes:
      - minio:/data

  # MinIO test service for assets
  minio-test:
    image: minio/minio:latest@sha256:14cea493d9a34af32f524e538b8346cf79f3321eff8e708c1e2960462bd8936e
    restart: always
    environment:
      MINIO_ROOT_USER: admin
      MINIO_ROOT_PASSWORD: password
    command: server /data
    ports:
      - '9009:9000'
    volumes:
      - minio-test:/data

volumes:
  minio:
  minio-test:
