services:
  # A persistent database for local development.
  postgres-dev:
    image: postgres:15@sha256:98fe06b500b5eb29e45bf8c073eb0ca399790ce17b1d586448edc4203627d342
    restart: always
    environment:
      POSTGRES_DB: appsemble
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: password
    ports:
      - '5432:5432'

  # A database using tmpfs for faster test runs.
  postgres-test:
    image: postgres:14@sha256:ced351032bbcd68de4977ea2d7dc9739ea70e220a9e133e7e52611d6f7041f71
    restart: always
    environment:
      POSTGRES_DB: appsemble
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: password
    ports:
      - '54321:5432'
    tmpfs:
      - /var/lib/postgresql/data

  pgadmin:
    image: dpage/pgadmin4@sha256:10137f33be7ed61e47f56004493710cb5b80ba7fb0ca01758855e242f1f284a7
    restart: always
    environment:
      PGADMIN_DEFAULT_EMAIL: info@appsemble.com
      PGADMIN_DEFAULT_PASSWORD: password
    ports:
      - '2345:80'

  # MinIO service for assets
  minio:
    image: minio/minio:latest@sha256:14cea493d9a34af32f524e538b8346cf79f3321eff8e708c1e2960462bd8936e
    restart: always
    environment:
      MINIO_ROOT_USER: admin
      MINIO_ROOT_PASSWORD: password
    command: server /data --console-address ":9001"
    ports:
      - '9000:9000' # MinIO API
      - '9001:9001' # MinIO Console
    volumes:
      - minio:/data

  # MinIO test service for assets
  minio-test:
    image: minio/minio:latest@sha256:14cea493d9a34af32f524e538b8346cf79f3321eff8e708c1e2960462bd8936e
    restart: always
    environment:
      MINIO_ROOT_USER: admin
      MINIO_ROOT_PASSWORD: password
    command: server /data
    ports:
      - '9009:9000'
    volumes:
      - minio-test:/data

volumes:
  minio:
  minio-test:
