services:
  # A persistent database for local development.
  postgres-dev:
    image: postgres:15@sha256:b8e11f8a8b383e19589a086a78b10f9ca69a39d6c9dcdd9342a8697544e8b3a0
    restart: always
    environment:
      POSTGRES_DB: appsemble
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: password
    ports:
      - '5432:5432'

  # A database using tmpfs for faster test runs.
  postgres-test:
    image: postgres:14@sha256:e7e9c0b3470ebff1b693f3a0a3302eb02505e62d67fc1b42c86c2811b4c6e451
    restart: always
    environment:
      POSTGRES_DB: appsemble
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: password
    ports:
      - '54321:5432'
    tmpfs:
      - /var/lib/postgresql/data

  pgadmin:
    image: dpage/pgadmin4@sha256:8c128407f45f1c582eda69e71da1a393237388469052e3cc1e6ae4a475e12b70
    restart: always
    environment:
      PGADMIN_DEFAULT_EMAIL: info@appsemble.com
      PGADMIN_DEFAULT_PASSWORD: password
    ports:
      - '2345:80'

  # MinIO service for assets
  minio:
    image: minio/minio:latest@sha256:14cea493d9a34af32f524e538b8346cf79f3321eff8e708c1e2960462bd8936e
    restart: always
    environment:
      MINIO_ROOT_USER: admin
      MINIO_ROOT_PASSWORD: password
    command: server /data --console-address ":9001"
    ports:
      - '9000:9000' # MinIO API
      - '9001:9001' # MinIO Console
    volumes:
      - minio:/data

  # MinIO test service for assets
  minio-test:
    image: minio/minio:latest@sha256:14cea493d9a34af32f524e538b8346cf79f3321eff8e708c1e2960462bd8936e
    restart: always
    environment:
      MINIO_ROOT_USER: admin
      MINIO_ROOT_PASSWORD: password
    command: server /data
    ports:
      - '9009:9000'
    volumes:
      - minio-test:/data

volumes:
  minio:
  minio-test:
