.buttons {
  flex-flow: column;
  max-width: 360px;
  margin: 1rem auto;
}

.buttons.is-centered:not(.has-addons) .button[title='concept']:not(.is-fullwidth) {
  width: fit-content;
  margin-right: 0;
  margin-left: auto;
}

@media (min-width: 480px) {
  .buttons.is-centered:not(.has-addons) .button[title='concept']:not(.is-fullwidth) {
    width: fit-content;
    margin: 0;
  }
}

.button {
  width: 100%;
}
