.root {
  max-width: 1280px;
  width: 100%;
}

.icon {
  font-size: 5rem;
  height: 128px;
  width: 128px;
}

.list {
  display: grid;
  grid-auto-rows: 1fr;
  grid-gap: 20px;
  grid-template-columns: repeat(auto-fill, minmax(291px, 1fr));
  justify-content: center;
  margin: 0 auto 1.5rem;
}

.isPositionedBottomRight {
  bottom: 0;
  margin: 10px;
  position: fixed;
  right: 0.2rem;
}

.isPositionedTopRight {
  margin-top: 13px;
  position: absolute;
  right: 0.7rem;
  top: 3rem;
}

/* stack things on top of each other */
.stack {
  display: grid;
}

.stack > * {
  grid-area: 1 / 1 / 1;
}
