/* stylelint-disable selector-max-specificity */
:root {
  --border-radius: 24px;
  --form-width: 400px;
  --primary-color: #eb0000;
  --primary-color-inverse: #ffffff;
  --font-family: avernirnext, -apple-system, blinkmacsystemfont, 'Open Sans', 'Helvetica Neue',
    sans-serif !important;
}

@font-face {
  font-family: 'avernirnext';
  src: url('./font/avenirnext/avenirnextltpro-regular.woff'),
    url('./font/avenirnext/avenirnextltpro-regular.woff2');
}

@font-face {
  font-family: 'avernirnext';
  font-weight: 400;
  src: url('./font/avenirnext/avenirnextltpro-medium.woff'),
    url('./font/avenirnext/avenirnextltpro-medium.woff2');
}

@font-face {
  font-family: 'avernirnext';
  font-weight: 500;
  src: url('./font/avenirnext/avenirnextltpro-bold.woff'),
    url('./font/avenirnext/avenirnextltpro-bold.woff2');
}

body {
  background-color: #efefef;
}

:not(.fas) {
  font-family: var(--font-family) !important;
}

form.container {
  background-color: var(--primary-color) !important;
  background-image: url(amsterdam-logo.svg);
  background-position-x: center;
  background-position-y: 15vh;
  background-repeat: no-repeat;
  display: flex;
  flex-flow: column;
  height: 100vh !important;
  margin: 0 !important;
  max-width: 100%;
  padding: 50vh 2em 0 2em !important;
  position: fixed !important;
  top: 0 !important;
  width: 100% !important;
  z-index: 1100 !important;
}

.navbar-item.title {
  font-size: 1rem;
  font-weight: normal;
  margin: auto;
}

.navbar-burger {
  position: absolute;
}

.side-menu {
  background-image: url(./menu-background.svg);
  background-position-x: center;
  background-position-y: bottom;
  background-repeat: no-repeat;
  padding-top: 50px;
}

.menu-list {
  & > li > * {
    padding: 1em;

    &.is-active {
      background-color: inherit;
      color: var(--primary-color);
    }
  }
}

.field-label {
  display: none;
}

.control {
  margin: 0 auto;
  max-width: var(--form-width) !important;
}

.input {
  border-radius: var(--border-radius) !important;

  &:focus,
  &:active {
    border-color: #787878;
  }
}

.control.has-icons-left .icon {
  color: transparent;
}

.control.has-icons-left .input,
.control.has-icons-left .select select {
  padding-left: 3em;
}

.fas.fa-envelope {
  background-image: url(./email.svg);
  background-position: 10px;
  background-repeat: no-repeat;
  background-size: contain;
  font-family: none;
  height: 1.5em;
  width: 5em;

  &::before {
    display: none;
  }
}

.fas.fa-unlock {
  background-image: url(./password.svg);
  background-position: 10px;
  background-repeat: no-repeat;
  background-size: contain;
  font-family: none;
  height: 1.5em;
  width: 5em;

  &::before {
    display: none;
  }
}

.button {
  border-radius: var(--border-radius) !important;
  margin: 0 auto;
  max-width: var(--form-width) !important;
  width: 100% !important;

  &.is-primary {
    background-color: var(--primary-color) !important;
    border-color: var(--primary-color-inverse) !important;
    top: 10vh !important;
  }
}

.navbar {
  background-color: var(--primary-color) !important;
}

.navbar-item {
  color: var(--primary-color-inverse) !important;
  padding: 0 !important;
}
