.tabLabel {
  align-items: center;
  border-bottom: 1px;
  border-bottom-color: hsl(0, 0%, 86%);
  border-bottom-style: solid;
  color: hsl(0, 0%, 29%);
  display: flex;
  justify-content: center;
  margin-bottom: -1px;
  padding: 0.5em 1em;
  vertical-align: top;

  &.isActive {
    border-bottom-color: hsl(217, 71%, 53%);
    color: hsl(217, 71%, 53%);
  }
}

.tabLabel:hover {
  border-bottom-color: hsl(0, 0%, 21%);
  color: hsl(0, 0%, 21%);
  cursor: pointer;
}
