.root {
  flex: 1 1 auto;
  justify-content: space-between;
}

/* stylelint-disable-next-line selector-max-attribute */
button[class*='modal-close'] {
  right: 3px !important;
  top: 3px !important;
}

/* stylelint-disable-next-line selector-max-attribute */
[class*='modal-background'] {
  backdrop-filter: blur(5px);
  background-color: rgb(29 33 41 / 76%);
}

.previewModal {
  height: 100%;
  margin-bottom: 0.8rem;
  max-height: 92vh;
  overflow: visible;
  width: 100% !important;
}

.modalPreviewFrameDiv {
  background-color: hsl(0deg 0% 7%);
  border-radius: 22px;
  box-sizing: border-box;
  flex: 1 1 auto;
  margin-top: 0.8rem;

  &.fill {
    height: 100%;
  }
}

.previewRoot {
  background-color: hsl(0deg 0% 7%);
  border-radius: 22px;
  box-sizing: border-box;
  flex: 1 1 auto;
  margin-top: 1.3rem;

  &.fill {
    height: 100%;
  }

  &.desktop {
    aspect-ratio: 16 / 9;

    /* stylelint-disable-next-line media-feature-range-notation */
    @media (min-width: 1024px) and (max-width: 1599px) {
      min-width: 43vw;
    }
    /* stylelint-disable-next-line media-feature-range-notation */
    @media (min-width: 1600px) and (max-width: 2599px) {
      min-width: 50vw;
    }
    /* stylelint-disable-next-line media-feature-range-notation */
    @media (min-width: 2600px) and (max-width: 3440px) {
      min-width: 55vw;
    }
    /* stylelint-disable-next-line media-feature-range-notation */
    @media (min-width: 3441px) {
      min-width: 58vw;
    }
  }

  &.phone {
    aspect-ratio: 9 / 18;
  }

  &.tablet {
    aspect-ratio: 3 / 4;
  }
}

.leftPanel {
  flex: 2 2 auto;
  height: calc(100vh - 7.3rem);

  /* stylelint-disable-next-line media-feature-range-notation */
  @media (max-width: 1023px) {
    height: calc(100vh - 4.6rem);
    width: 100%;

    &.fullscreen {
      height: calc(100vh - 1.4rem) !important;
    }
  }

  /* stylelint-disable-next-line media-feature-range-notation */
  @media (min-width: 1024px) and (max-width: 1280px) {
    max-width: 86vw;
    min-width: 234px;
  }

  /* stylelint-disable-next-line media-feature-range-notation */
  @media (min-width: 1281px) and (max-width: 1920px) {
    max-width: 93vw;
    min-width: 337px;
  }

  /* stylelint-disable-next-line media-feature-range-notation */
  @media (min-width: 1921px) {
    max-width: 94vw;
    min-width: 565px;
  }

  /* stylelint-disable-next-line media-feature-range-notation */
  @media (min-width: 2561px) {
    max-width: 96vw;
    min-width: 825px;
  }

  &.fullscreen {
    height: calc(100vh - 7rem);
  }
}

.rightPanel {
  margin-top: 2.5rem;

  /* stylelint-disable-next-line media-feature-range-notation */
  @media (max-width: 1023px) {
    /* display: none; */
  }

  &.fill {
    padding-bottom: 1.3rem;

    /* stylelint-disable-next-line media-feature-range-notation */
    @media (min-width: 1024px) and (max-width: 1279px) {
      min-width: 44vw;
    }

    /* stylelint-disable-next-line media-feature-range-notation */
    @media (min-width: 1280px) and (max-width: 1919px) {
      min-width: 41vw;
    }

    /* stylelint-disable-next-line media-feature-range-notation */
    @media (min-width: 1920px) {
      min-width: 44%;
    }
  }
}

.editorForm {
  flex: 1 1 auto;
  min-height: 0%;
  /* stylelint-disable-next-line media-feature-range-notation */
  @media (max-width: 1023px) {
    &:not(.fullscreen) {
      margin-top: -0.6rem;
    }
  }
}

.editor {
  height: 100%;
}

.formatSelection {
  position: absolute;
  right: 0.15rem;
  top: 3.7rem;
  z-index: 30;
}

/* stylelint-disable-next-line selector-max-attribute */
[class*='editor-navbar'] {
  /* stylelint-disable-next-line media-feature-range-notation */
  @media (max-width: 1023px) {
    top: -0.6rem;
    z-index: auto;

    /* stylelint-disable-next-line selector-max-attribute */
    &.fullscreen {
      top: 2.65rem;
    }
  }
}

/* stylelint-disable-next-line selector-max-attribute */
[class*='navbar-menu is-active'] {
  /* stylelint-disable-next-line media-feature-range-notation */
  @media (max-width: 1023px) {
    backdrop-filter: blur(5px);
    background-color: rgb(212 212 212 / 72.9%);
    border-radius: 6px;
    box-shadow: 0 0 20px 3px rgb(0 0 0 / 49%);
    padding: 0.2rem 0 !important;
    position: absolute;
    top: 0;
    width: calc(100% - 3.2rem);
    z-index: 30;
  }

  /* stylelint-disable-next-line selector-max-attribute */
  div[class*='navbar-item'] {
    padding: 3px 7px !important;
  }
}

.editorTabsDiv {
  margin-bottom: 0 !important;

  /* stylelint-disable-next-line media-feature-range-notation */
  @media (max-width: 1023px) {
    position: absolute;
    top: 3.9rem;
    width: calc(100% - 5rem);

    --shadow-right-position: 0px;
    --shadow-left-position: 0px;

    &.fullscreen {
      position: sticky;
      top: 0.16rem;
    }
  }

  &.fullscreen {
    top: 2.7rem;
  }
}

.editorTabsDiv::after,
.editorTabsDiv::before {
  /* stylelint-disable-next-line media-feature-range-notation */
  @media (max-width: 1023px) {
    bottom: 0;
    content: '';
    opacity: 0;
    position: absolute;
    top: 0;
    transition:
      transform 0.1s ease-out,
      opacity 0.1s ease-out;
    width: 6px;
    z-index: 2;
  }
}

.editorTabsDiv::before {
  background: linear-gradient(to right, rgb(63 59 59 / 40%), transparent);
  transform: translateX(-100%);
}

.editorTabsDiv::after {
  background: linear-gradient(to left, rgb(63 59 59 / 40%), transparent);
  transform: translateX(100%);
}

/* stylelint-disable-next-line selector-max-attribute */
.editorTabsDiv[class*='not-at-left']::before {
  left: var(--shadow-left-position);
  opacity: 1;
  transform: translateX(0);
}

/* stylelint-disable-next-line selector-max-attribute */
.editorTabsDiv[class*='not-at-right']::after {
  opacity: 1;
  right: var(--shadow-right-position);
  transform: translateX(0);
}

.editorTab > a {
  /* stylelint-disable-next-line media-feature-range-notation */
  @media (max-width: 495px) {
    padding: 8px 8px 8px 5px !important;

    .editorTab {
      margin: 0 !important;
    }
  }
}
