.root {
  flex: 1 1 auto;
}

.leftPanel {
  flex: 1 1 auto;
}

.editorForm {
  flex: 1 1 auto;
  min-height: 50%;
}

.editor {
  height: 100%;
}

.editorTabs {
  max-width: 100%;
}

.editorTabs > li {
  max-width: 33%;
}
