:global(.bottom-nav) {
  background-color: hsl(0, 0%, 100%);
  bottom: 0;
  margin-bottom: 0;
  position: fixed;
  width: 100%;
}

.list {
  display: flex;
  justify-content: center !important;
  overflow-x: auto;
  width: 100%;
}

:global(.bottom-nav-item) {
  flex: 1 0 0;
}

:global(.bottom-nav-item-link) {
  align-items: center;
  display: flex;
  flex-flow: column;
  height: 100%;
  justify-content: flex-end;
  padding: 16px;
  text-align: center;

  &:global(.is-active) {
    color: var(--primary-color);
  }

  & :global(.icon) {
    margin-bottom: 5px;
  }
}
