.bottom-nav {
  background-color: hsl(0deg 0% 100%);
  bottom: 0;
  box-shadow: 0 -0.25rem 0.25rem 0 hsl(0deg 0% 0% / 10%);
  height: 7rem;
  position: fixed;
  white-space: nowrap;
  width: 100%;
  z-index: 1000;
}

.bottom-nav-item {
  flex: 1 0 0;
}

.bottom-nav-item-button {
  border: none;
  color: var(--link-color);
  height: 100%;
  justify-content: flex-end;
  width: 100%;

  &:hover {
    color: hsl(0deg 0% 21%);
  }
}

.bottom-nav-item-button .icon {
  height: unset !important;
  margin: 0 !important;
  margin-bottom: 0.25rem !important;
  width: unset !important;
}

.bottom-nav-item-link {
  align-items: center;
  flex-flow: column;
  height: 100%;
  justify-content: flex-end;

  &.is-active {
    color: var(--primary-color);
  }
}
