{{- if .Values.ingress.enabled -}}
apiVersion: batch/v1
kind: CronJob
metadata:
  name: {{ include "appsemble.fullname" . }}-cleanup-soft-deleted-records
  labels:
    {{ include "appsemble.labels" . }}
spec:
  # Revert back to daily at 23 once debugging is complete.
  schedule: 0 3 * * * # Run every day at 23:00:00
  successfulJobsHistoryLimit: {{ .Values.cronjob.jobsHistoryLimit }}
  failedJobsHistoryLimit: {{ .Values.cronjob.jobsHistoryLimit }}
  jobTemplate:
    spec:
      template:
        metadata:
          annotations:
            {{ include "appsemble.gitlab" . | indent 12 }}
        spec:
          restartPolicy: Never
          containers:
            - name: {{ include "appsemble.fullname" . }}-cronjob-cleanup-soft-deleted-records
              image: "{{ .Values.image.repository }}:{{ include "appsemble.tag" . }}"
              imagePullPolicy: {{ .Values.image.pullPolicy }}
              securityContext:
                readOnlyRootFilesystem: true
              resources:
                {{- toYaml .Values.resources.cronjobs | nindent 16 }}
              args:
                - cleanup-soft-deleted-records
                - -vv
              env:
{{ include "appsemble.postgres" . | indent 16 }}
{{ end }}
