apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "appsemble.fullname" . }}
  labels:
    {{ include "appsemble.labels" . }}
  annotations:
    {{ include "appsemble.gitlab" . | indent 4 }}
spec:
  replicas: {{ .Values.replicaCount }}
  selector:
    matchLabels:
      app.kubernetes.io/instance: {{ .Release.Name | quote }}
      app.kubernetes.io/name: {{ include "appsemble.name" . }}
  template:
    metadata:
      labels:
        app.kubernetes.io/instance: {{ .Release.Name | quote }}
        app.kubernetes.io/name: {{ include "appsemble.name" . }}
      annotations:
        {{ include "appsemble.gitlab" . | indent 10 }}
    spec:
      serviceAccountName: {{ include "appsemble.fullname" . }}-serviceaccount
      enableServiceLinks: false
      containers:
        - name: {{ .Chart.Name }}
          image: "{{ .Values.image.repository }}:{{ include "appsemble.tag" . }}"
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          args:
            - start
          {{- if .Values.skipCustomDomains }}
            - --skip-custom-domains
          {{- end }}
            - -vv
          securityContext:
            readOnlyRootFilesystem: true
          ports:
            - name: http
              containerPort: 9999
              protocol: TCP
          livenessProbe:
            httpGet:
              path: /api/health
              port: http
          readinessProbe:
            httpGet:
              path: /api/health
              port: http
          resources:
            {{- toYaml .Values.resources | nindent 12 }}
          env:
{{ include "appsemble.postgres" . | indent 12 }}
{{ include "appsemble.s3" . | indent 12 }}
{{ include "appsemble.sentry" . | indent 12 }}
            - name: HOST
              {{ if .Values.ingress.enabled -}}
              value: {{ include "appsemble.protocol" $ }}{{ .Values.ingress.host }}
              {{- else }}
              value: http://{{ include "appsemble.fullname" . }}
              {{- end }}
            - name: FORCE_PROTOCOL_HTTPS
              value: {{ .Values.forceProtocolHttps | quote }}
            {{ if .Values.ingress.enabled -}}
            - name: APP_DOMAIN_STRATEGY
              value: kubernetes-ingress
            - name: INGRESS_CLASS_NAME
              value: {{ .Values.ingress.className | quote }}
            - name: INGRESS_ANNOTATIONS
              value: {{ .Values.ingress.annotations | toJson | quote }}
            - name: SERVICE_NAME
              value: {{ include "appsemble.fullname" . }}
            - name: SERVICE_PORT
              value: http
            {{- end }}
            - name: SECRET
              valueFrom:
                secretKeyRef:
                  name: {{ .Values.secretSecret | quote }}
                  key: secret
            - name: AES_SECRET
              valueFrom:
                secretKeyRef:
                  name: {{ .Values.secretSecret | quote }}
                  key: aes-secret
            {{- if hasPrefix "review-" (include "appsemble.fullname" .) }}
            - name: SMTP_HOST
              value: "{{ include "appsemble.fullname" . }}-mailpit-smtp"
            {{- else }}
            - name: SMTP_HOST
              valueFrom:
                secretKeyRef:
                  name: {{ .Values.smtpSecret  | quote }}
                  key: host
            {{- end }}
            {{- with .Values.smtpSecret }}
            - name: SMTP_PORT
              valueFrom:
                secretKeyRef:
                  name: {{ . | quote }}
                  key: port
            - name: SMTP_SECURE
              valueFrom:
                secretKeyRef:
                  name: {{ . | quote }}
                  key: secure
            - name: SMTP_USER
              valueFrom:
                secretKeyRef:
                  name: {{ . | quote }}
                  key: user
            - name: SMTP_PASS
              valueFrom:
                secretKeyRef:
                  name: {{ . | quote }}
                  key: pass
            - name: SMTP_FROM
              valueFrom:
                secretKeyRef:
                  name: {{ . | quote }}
                  key: from
            {{- end }}
            {{- with .Values.imapSecret }}
            - name: IMAP_HOST
              valueFrom:
                secretKeyRef:
                  name: {{ . | quote }}
                  key: imap-host
            - name: IMAP_PORT
              valueFrom:
                secretKeyRef:
                  name: {{ . | quote }}
                  key: imap-port
            - name: IMAP_SECURE
              valueFrom:
                secretKeyRef:
                  name: {{ . | quote }}
                  key: imap-secure
            - name: IMAP_USER
              valueFrom:
                secretKeyRef:
                  name: {{ . | quote }}
                  key: imap-user
            - name: IMAP_PASS
              valueFrom:
                secretKeyRef:
                  name: {{ . | quote }}
                  key: imap-pass
            - name: IMAP_COPY_TO_SENT_FOLDER
              valueFrom:
                secretKeyRef:
                  name: {{ . | quote }}
                  key: imap-copy-to-sent-folder
            {{- end }}
            {{- with .Values.adminApiSecret }}
            - name: ADMIN_API_SECRET
              valueFrom:
                secretKeyRef:
                  name: {{ . | quote }}
                  key: admin-api-secret
            {{- end }}
            {{- with .Values.oauthSecret }}
            - name: GITHUB_CLIENT_ID
              valueFrom:
                secretKeyRef:
                  name: {{ . | quote }}
                  key: github-client-id
                  optional: true
            - name: GITHUB_CLIENT_SECRET
              valueFrom:
                secretKeyRef:
                  name: {{ . | quote }}
                  key: github-client-secret
                  optional: true
            - name: GITLAB_CLIENT_ID
              valueFrom:
                secretKeyRef:
                  name: {{ . | quote }}
                  key: gitlab-client-id
                  optional: true
            - name: GITLAB_CLIENT_SECRET
              valueFrom:
                secretKeyRef:
                  name: {{ . | quote }}
                  key: gitlab-client-secret
                  optional: true
            - name: GOOGLE_CLIENT_ID
              valueFrom:
                secretKeyRef:
                  name: {{ . | quote }}
                  key: google-client-id
                  optional: true
            - name: GOOGLE_CLIENT_SECRET
              valueFrom:
                secretKeyRef:
                  name: {{ . | quote }}
                  key: google-client-secret
                  optional: true
            {{- end }}
            {{- with .Values.remote }}
            - name: REMOTE
              value: {{ . | quote }}
            {{- end }}
            {{- if .Values.proxy }}
            - name: PROXY
              value: 'true'
            {{- end }}
            {{- with .Values.ingress.issuer }}
            - name: ISSUER
              value: {{ . | quote }}
            {{- end }}
            {{- with .Values.ingress.clusterIssuer }}
            - name: CLUSTER_ISSUER
              value: {{ . | quote }}
            {{- end }}
            {{- if .Values.quotas.appEmail.enabled }}
            - name: ENABLE_APP_EMAIL_QUOTA
              value: 'true'
            - name: DAILY_APP_EMAIL_QUOTA
              value: {{ .Values.quotas.appEmail.dailyLimit | quote }}
            - name: ENABLE_APP_EMAIL_QUOTA_ALERTS
              value: {{ .Values.quotas.appEmail.alertOrganizationOwner | quote }}
            {{- end }}
            {{- if .Values.mailpit.mailpit.smtp.tls.secretName }}
            - name: NODE_EXTRA_CA_CERTS
              value: /tmp/mailpit.crt
            {{- end }}
          volumeMounts:
            - name: tmp-volume
              mountPath: /tmp
          {{- if .Values.mailpit.mailpit.smtp.tls.secretName }}
            - name: mailpit-cert
              mountPath: /tmp/mailpit.crt
              subPath: tls.crt
          {{- end }}
      volumes:
        - name: tmp-volume
          emptyDir: {}
      {{- if .Values.mailpit.mailpit.smtp.tls.secretName}}
        - name: mailpit-cert
          secret:
            secretName: {{ .Values.mailpit.mailpit.smtp.tls.secretName }}
      {{- end }}
      {{- with .Values.nodeSelector }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
      {{- end }}
    {{- with .Values.affinity }}
      affinity:
        {{- toYaml . | nindent 8 }}
    {{- end }}
    {{- with .Values.tolerations }}
      tolerations:
        {{- toYaml . | nindent 8 }}
    {{- end }}
