apiVersion: v2
name: appsemble
version: 0.35.22
appVersion: 0.35.22
kubeVersion: '>=1.21.0'
type: application
description: The open source low-code app building platform
icon: https://charts.appsemble.com/icon.svg
home: https://appsemble.com
keywords:
  - app
  - apps
  - appsemble
  - framework
  - low-code
  - lowcode
sources:
  - https://gitlab.com/appsemble/appsemble
  - https://gitlab.com/appsemble/charts
dependencies:
  - name: postgresql
    version: 16.7.27
    repository: https://charts.bitnami.com/bitnami
    condition: postgresql.enabled
  - name: mailpit
    version: 0.23.1
    repository: https://jouve.github.io/charts
    condition: mailpit.enabled
  - name: minio
    version: 14.10.5
    repository: https://charts.bitnami.com/bitnami
    condition: minio.enabled
annotations:
  artifacthub.io/changes: |
    - kind: added
      description: "Block(list): Support listening for ordered groups."
    - kind: added
      description: "App: Add new setting to change passwords."
    - kind: added
      description: "App: Add new setting to update email of an app member."
    - kind: added
      description: "App: Add resend verification email banner."
    - kind: added
      description: "Server: Add /.well-known/security.txt for apps."
    - kind: fixed
      description: "Block(form): Temporary fix for form file entries."
    - kind: fixed
      description: "Block(list): Style list block dropdown button."
  artifacthub.io/license: LGPL-3.0-only
  artifacthub.io/links: |
    - name: Appsemble Studio
      url: https://appsemble.app
    - name: Documentation
      url: https://appsemble.app/docs
    - name: support
      url: https://gitlab.com/appsemble/appsemble/-/issues
  artifacthub.io/recommendations: |
    - url: https://artifacthub.io/packages/container/appsemble/appsemble
    - url: https://artifacthub.io/packages/helm/cert-manager/cert-manager
    - url: https://artifacthub.io/packages/helm/ingress-nginx/ingress-nginx
  artifacthub.io/signKey: |
    fingerprint: C4EE8EE8B16EE94FEA3B0A7C346FF2248F310B53
    url: https://gitlab.com/appsemble-bot.gpg
