# yaml-language-server: $schema=values.schema.json
replicaCount: 1

image:
  repository: appsemble/appsemble
  tag: null
  pullPolicy: IfNotPresent

nameOverride: ''
fullnameOverride: ''

service:
  type: ClusterIP
  port: 80

ingress:
  enabled: true
  className: nginx
  annotations:
    nginx.ingress.kubernetes.io/proxy-body-size: '1G'
    nginx.ingress.kubernetes.io/force-ssl-redirect: 'true'
    nginx.ingress.kubernetes.io/ssl-redirect: 'true'
    nginx.ingress.kubernetes.io/hsts: 'true'
    nginx.ingress.kubernetes.io/hsts-include-subdomains: 'true'
    nginx.ingress.kubernetes.io/hsts-max-age: '31536000'
    nginx.ingress.kubernetes.io/limit-rps: '400'
    nginx.ingress.kubernetes.io/limit-connections: '150'
  host: ''
  tls:
    {}
    # secretName: chart-example-tls
  # wildcardSecretName: chart-example-tls-wildcard

resources:
  {}
  # limits:
  #  cpu: 100m
  #  memory: 128Mi
  # requests:
  #  cpu: 100m
#  memory: 128Mi

nodeSelector: {}

tolerations: []

affinity: {}

smtpSecret: smtp

imapSecret: imap

adminApiSecret: admin-api-secret

sentry: null

oauthSecret: null

secretSecret: appsemble

stripeApiSecretKey: stripe-api-secret-key

stripeWebhookSecret: stripe-webhook-secret

cronjob:
  jobsHistoryLimit: 3

gitlab:
  app: null
  env: null

migrateTo: null

skipCustomDomains: false

migrateDefinitions:
  validate: true
  save: false
  batch: 100

forceProtocolHttps: false

proxy: false

global:
  postgresql:
    auth:
      existingSecret: appsemble-postgresql-secret
      username: appsemble
      database: appsemble
      secretKeys:
        userPasswordKey: password
    service:
      ports:
        postgresql: 5432
  security:
    allowInsecureImages: true

postgresql:
  fullnameOverride: appsemble-postgresql
  image:
    registry: docker.io
    repository: bitnamilegacy/postgresql
    tag: 17.6.0-debian-12-r4@sha256:926356130b77d5742d8ce605b258d35db9b62f2f8fd1601f9dbaef0c8a710a8d

postgresSSL: false

remote: null

securityEmail: security@appsemble.com

quotas:
  appEmail:
    enabled: false
    dailyLimit: 10
    alertOrganizationOwner: false

mailpit:
  mailpit:
    smtp:
      tls:
        enabled: true
      authFile:
        enabled: true
        existingSecret:
          name: mailpit-smtp
    ui:
      authFile:
        enabled: true
        existingSecret:
          name: mailpit-ui

minio:
  fullnameOverride: appsemble-minio
  image:
    registry: docker.io
    repository: bitnamilegacy/minio
    tag: 2024.12.18-debian-12-r1@sha256:c0ede65eb88e47138470202c517bacf55ab3c27df848030b7b46e69d34b7d192
  auth:
    existingSecret: s3
    rootUserSecretKey: access-key
    rootPasswordSecretKey: secret-key
  ingress:
    enabled: true
    tls: true
    ingressClassName: nginx
  apiIngress:
    enabled: true
    tls: true
    ingressClassName: nginx

backups:
  enabled: true
  bucket: appsemble-backups
  filename: appsemble_backup
  port: 443
  secure: true
  existingSecret: backups-secret
