.root {
  border-radius: 12px !important;
  display: inline-block;
  overflow: hidden;
  position: relative;
}

.img {
  object-fit: cover;
}

.button {
  background: transparent;
  border: none;
  cursor: pointer;
}
