.root {
  background: transparent;
  border: none;
  cursor: pointer;
  font: inherit;
  pointer-events: initial !important;

  &[disabled] {
    cursor: not-allowed;
  }

  &:focus-visible {
    outline: 2px solid var(--link-color);
    outline-offset: 1px;
  }

  &:not([disabled]) {
    &:active,
    &:hover {
      background-image: radial-gradient(
        circle closest-side,
        hsl(218deg 100% 66% / 43%),
        transparent
      );
    }
  }
}
