.backdrop {
  background-color: rgba(0, 0, 0, 0.5);
  bottom: 0;
  left: 0;
  opacity: 0;
  position: fixed;
  right: 0;
  top: 0;
  transition: visibility 0s, opacity 0.3s ease-in-out;
  visibility: hidden;
  z-index: 2000 !important;

  &.active {
    opacity: 1;
    visibility: visible;
  }
}

.menu {
  background-color: hsl(0, 100%, 100%);
  bottom: 0;
  box-shadow: 0 8px 10px -5px rgba(0, 0, 0, 0.2), 0 16px 24px 2px rgba(0, 0, 0, 0.14),
    0 6px 30px 5px rgba(0, 0, 0, 0.12);
  left: -100%;
  max-width: 80vw;
  min-width: 30vw;
  position: fixed;
  right: 0;
  top: 0;
  transition: left 0.3s ease-in-out;
  width: 640px;
  z-index: 3000;

  &.active {
    left: 0;
    overflow: hidden;
  }
}
