.root {
  box-shadow: 0 0.25rem 0.25rem 0 hsl(0deg 0% 0% / 10%);
  justify-content: flex-end;

  &.highlighted {
    justify-content: space-between;
  }
}

.highlighted-fields-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
}

.highlighted-field {
  width: 250px;
}

.wide-highlighted-field {
  width: 350px;
}
