.item {
  background-color: hsl(0deg 0% 96%);
  border: none;
  border-radius: 4px;
  color: inherit;
  cursor: pointer;
  font-family: inherit;
  font-size: 100%;
  height: 100%;
  line-height: 1.15;
  position: relative;
  width: 100%;
}

.header {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.header > * {
  display: inline;
}

.itemField {
  word-break: break-word;
}

.button {
  position: absolute;
  right: 0.5rem;
  top: 50%;
  transform: translateY(-50%);
}

.image {
  display: inline-block;
}
