.item {
  background-color: hsl(0, 0%, 96%);
  border: none;
  border-radius: 4px;
  color: inherit;
  cursor: pointer;
  display: block;
  font-family: inherit;
  font-size: 100%;
  height: 100%;
  line-height: 1.15;
  margin-bottom: 5px;
  margin-top: 5px;
  padding: 1.25rem 2.9rem 1.25rem 1.5rem;
  position: relative;
  text-align: left;
  width: 100%;
}

.header {
  margin-bottom: 10px;
}

.header > * {
  display: inline;
}

.itemField {
  display: inline-block;
  margin-right: 5px;
  word-break: break-word;
}

.button {
  margin: 0;
  padding: 0;
  position: absolute;
  right: 0.5rem;
  top: 50%;
  transform: translateY(-50%);
}
