.wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 0 1.25rem;
}

.wrapper > * {
  flex: 1 100%;
}

.wrapper-grid {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(3, 1fr);
}

.column-span {
  grid-column: span 3;
}

@media only screen and (width <= 1024px) {
  .wrapper-grid {
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: repeat(2, 1fr);
  }

  .column-span {
    grid-column: span 2;
  }
}

@media only screen and (width <= 540px) {
  .root-full-width {
    flex-flow: column;
    margin: 0 auto;
    max-width: 480px;
    padding: 1rem;
  }

  .wrapper-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 0 1.25rem;
  }

  .wrapper-grid > * {
    flex: 1 100%;
  }
}
