.root {
  border-radius: 12px !important;
  height: 6.75em !important;
  margin-right: 12px;
  overflow: hidden;
  position: relative;
  width: 6.75em !important;
}

.img {
  left: 50%;
  top: 50%;
  margin: auto;
  height: auto;
  width: 100%;
  position: absolute;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
