.root {
  padding: 0 !important;
}

.anchor {
  align-items: center;
  color: inherit;
  display: flex;
  font-size: 0.875rem;
  justify-content: flex-start;
  outline: none;
  padding: 1em 1em 1em 3.5em;
  position: relative;
  text-decoration: none;
  width: 100%;
}

/*
.anchor-active {
  background-color: rgba(0, 0, 0, 0.06);
}

.MuiList-root .MuiList-padding {
  margin-top: 50px;
  padding: 0;
}

.maakwaarneming {
  background-image: url(../../../apps/unlittered/form.svg);
}

.overzichtskaart {
  background-image: url(../../../apps/unlittered/marker.svg);
}

.uitloggen {
  background-image: url(../../../apps/unlittered/logout.svg);
}
*/
