.light {
  border-color: transparent;
  color: hsl(0, 0%, 100%);
  &:hover,
  &:active {
    border-color: transparent;
    color: hsl(0, 0%, 100%);
  }
}

.telegram {
  background-color: hsl(200, 100%, 40%);
}

.twitter {
  background-color: hsl(203, 89%, 53%);
}

.facebook {
  background-color: hsl(220, 46%, 48%);
}

.whatsapp {
  background-color: hsl(142, 70%, 49%);
}

.linkedin {
  background-color: hsl(199, 85%, 36%);
}
