.root {
  flex-flow: column;
  margin: 0 auto;
  max-width: 480px;
}

.buttonWrapper {
  justify-content: flex-end;
  margin: 0 auto;
  max-width: 480px;
  text-align: end;
  width: 100%;
}

.submit {
  align-self: flex-end;
}

.error {
  max-height: 64px;
  overflow: hidden;
  transition: 150ms;

  &.hidden {
    margin-bottom: 0;
    max-height: 0;
  }
}
