.root {
  flex-flow: column;
  margin: 0 auto;
  max-width: 480px;
  padding: 1rem;
}

.root-full-width {
  flex-flow: column;
  margin: 0 auto;
  padding: 2rem;
}

.error {
  max-height: 192px;
  overflow: scroll;
  position: sticky;
  top: 64px;
  transition: 150ms;
  z-index: 1;

  &.hidden {
    margin-bottom: 0;
    max-height: 0;
  }
}

.dense :global(.help) {
  min-height: unset;
}

.wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 0 1.25rem;
}

.wrapper > * {
  flex: 1 100%;
}

.wrapper-grid {
  display: grid;
  grid-column-gap: 1rem;
  grid-template-columns: repeat(3, 1fr);
}

.column-span {
  grid-column: span 3;
}

.error-link-container {
  text-align: left;
}

.error-link {
  background-color: unset;
  border: 0;
  color: hsl(9deg 100% 50%);
  cursor: pointer;
  display: inline-flex;
  padding: 0;
}

.error-link :hover {
  text-decoration: underline;
}

@media only screen and (width <= 1024px) {
  .wrapper-grid {
    display: grid;
    grid-column-gap: 1rem;
    grid-template-columns: repeat(2, 1fr);
  }

  .column-span {
    grid-column: span 2;
  }
}

@media only screen and (width <= 540px) {
  .root-full-width {
    flex-flow: column;
    margin: 0 auto;
    max-width: 480px;
    padding: 1rem;
  }

  .wrapper-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 0 1.25rem;
  }

  .wrapper-grid > * {
    flex: 1 100%;
  }
}
