.root {
  flex-flow: column;
  margin: 0 auto;
  max-width: 480px;
}

.buttonWrapper {
  justify-content: flex-end;
  margin: 0 auto;
  max-width: 480px;
  text-align: end;
  width: 100%;
}

.submit {
  align-self: flex-end;
}
