.root {
  flex-flow: column;
  margin: 0 auto;
  max-width: 480px;
}

.error {
  max-height: 64px;
  overflow: hidden;
  transition: 150ms;

  &.hidden {
    margin-bottom: 0;
    max-height: 0;
  }
}
