.title {
  font-size: 16px;
}

.toggle-button {
  align-items: center;
  background-color: hsl(0deg 0% 96%);
  border: none;
  border-top-right-radius: 20px;
  cursor: pointer;
  display: flex;
  margin-top: 12px;
  width: 100%;
}
