.root {
  justify-content: space-between;
}

.tag {
  display: none !important;
  text-decoration: none !important;

  @media screen and (min-width: 1024px) {
    display: inline-flex !important;
  }
}

.logo {
  display: none;

  @media screen and (min-width: 1024px) {
    display: unset;
  }
}
