.root {
  justify-content: space-between;

  /*
   * This should overlay any other navbars.
   *
   * Bulma navbars have a z-index of 30.
   */
  z-index: 31 !important;
}

.tag {
  display: none !important;
  text-decoration: none !important;

  @media screen and (min-width: 1024px) {
    display: inline-flex !important;
  }
}

.logo {
  display: none;

  @media screen and (min-width: 1024px) {
    display: unset;
  }
}
