.cardFooterButton {
  border: none;
  border-radius: 0;
  cursor: pointer;
  font: inherit;
  height: auto;
  padding: 0 !important;
}

.container {
  border-bottom: 2px solid hsl(0, 0%, 96%);
  border-top: 2px solid hsl(0, 0%, 96%);
  display: flex;
  justify-content: flex-end;
}

.filterDialogButton {
  display: inline-flex;
  margin: 10px;
}

.highlighted {
  display: inline-flex;
  flex-grow: 11;
  padding: 10px;
}

.newDataBar,
.newDataBar > * {
  border-radius: 0;
}

.newDataButton {
  background: none;
  border: none;
  color: inherit;
  cursor: pointer;
  font: inherit;
  outline: inherit;
  padding: 0;
}
