.cardFooterButton {
  border: none;
  border-radius: 0;
  cursor: pointer;
  font: inherit;
  height: auto;
}

.container {
  border-bottom: 2px solid hsl(0, 0%, 96%);
  border-top: 2px solid hsl(0, 0%, 96%);
  display: flex;
  justify-content: flex-end;
}

.highlighted {
  flex-grow: 11;
}

.newDataBar,
.newDataBar > * {
  border-radius: 0;
}

.newDataButton {
  background: none;
  border: none;
  color: inherit;
  cursor: pointer;
  font: inherit;
  outline: inherit;
}
