.content h1 {
  background-color: var(--primary-color);
  border-bottom-right-radius: 25px;
  border-top-right-radius: 25px;
  color: var(--primary-color-invert);
  font-size: 1.5rem;
  max-width: 500px;
  padding-bottom: 5px;
  padding-left: 30px;
  padding-top: 5px;
  text-transform: uppercase;
}

.content h2 {
  font-size: 1.3125rem;
}

.content h3 {
  font-size: 1.2rem;
}
