.blockList {
  align-items: center;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  margin: 0 auto;
  max-width: 960px;
  padding: 10px;
}

.blockList > div {
  margin: 10px;
  width: 450px;
}
