.root {
  box-sizing: border-box;
}

.messageEnter {
  opacity: 0;
}

.messageEnterActive {
  opacity: 1;
  transition: opacity 300ms ease-in;
}

.messageExit {
  opacity: 1;
}

.messageExitActive {
  opacity: 0;
  transition: opacity 300ms ease-in;
}

.content {
  min-height: 64px;
  position: fixed;
  width: calc(100vw - 20px);
  z-index: 6001; /* 1 more than the z-index of modals */
}

.deleteButton {
  position: absolute;
  right: 5px;
  top: 5px;
}

.bottom {
  bottom: 10px;
}

.bottom:not(:last-child) {
  margin-bottom: 4.5rem;
}

.top {
  top: 10px;
}

.top:not(:last-child) {
  margin-top: 4.5rem;
}
