.root {
  bottom: 10px;
  box-sizing: border-box;
  margin-left: 10px;
  margin-right: 10px;
  position: fixed;
  width: calc(100vw - 20px);
  z-index: 1000;
}

.messageEnter {
  opacity: 0.01;
}

.messageEnterActive {
  opacity: 1;
  transition: opacity 300ms ease-in;
}

.messageLeave {
  opacity: 1;
}

.messageLeaveActive {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}

.content {
  min-height: 64px;
}
