.root {
  bottom: 10px;
  box-sizing: border-box;
  margin-left: 10px;
  margin-right: 10px;
  position: fixed;
  width: calc(100vw - 20px);
  z-index: 1000;
}

.rootMessage {
  opacity: 1;
  transition: opacity 0.3s ease-in-out;

  &.hidden {
    opacity: 0;
  }
}

.content {
  min-height: 64px;
}
