html,
body {
  background-color: #fafafa;
  font-family: Roboto, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
}

noscript {
  display: flex;
  flex-flow: column;
}

/**
 * Style the noscript page a bit.
 */
:global(.header) {
  align-items: center;
  background-color: #2196f3;
  box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.2), 0 4px 5px 0 rgba(0, 0, 0, 0.14),
    0 1px 10px 0 rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  color: #ffffff;
  display: flex;
  flex: 0 0 auto;
  height: 56px;
  margin: 0;
  padding: 0 24px;
  width: 100%;

  @media (min-width: 600px) {
    height: 64px;
  }

  @media (max-width: 599px) and (orientation: landscape) {
    height: 48px;
  }
}

:global(.title) {
  font-size: 1.3125rem;
  font-weight: 500;
  line-height: 1.16667em;
  margin: 0;
}

:global(.message) {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5em;
  text-align: center;
}
