.root {
  border: 5px solid hsl(0deg 0% 0%);
  flex: 1;
  height: 80vh;
}

.rootDragOver {
  border: 5px solid hsl(115deg 76% 64%);
  flex: 1;
  height: 80vh;
}

.rightBar {
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
  row-gap: 0.8rem;
  width: 100%;
}
