.root {
  margin: 0;
  overflow: scroll;
  -ms-overflow-style: none;
  overflow-x: hidden;
  padding: 0;
  position: relative;
}

.root::-webkit-scrollbar {
  display: none;
  padding: 0;
}

.leftBar {
  border: hsl(0deg 0% 83%) 1px solid;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.rightBar {
  border: hsl(0deg 0% 83%) 1px solid;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.isClosed {
  border-width: 0;
  transition:
    width 0.35s ease-in-out,
    border-width 0.35s ease-in-out;
  width: 0;
}

.isOpen.leftBar {
  border: hsl(0deg 0% 83%) 1px solid;
  transition: width 0.35s ease-in-out;

  @media (width < 1024px) {
    width: 14.5rem;
  }

  @media (width > 1023px) and (width < 1501px) {
    width: 17rem;
  }

  @media (width >= 1501px) and (width < 1921px) {
    width: 20rem;
  }

  @media (width >= 1921px) {
    width: 22.5rem;
  }
}

.isOpen.rightBar {
  border: hsl(0deg 0% 83%) 1px solid;
  transition: width 0.35s ease-in-out;

  @media (width < 1024px) {
    width: 18.2rem;
  }

  @media (width > 1023px) and (width < 1501px) {
    width: 24rem;
  }

  @media (width >= 1501px) and (width < 1921px) {
    width: 27rem;
  }

  @media (width >= 1921px) {
    width: 32rem;
  }
}

.rightBarSlider {
  background-color: hsl(0deg 0% 100%);
  border-bottom: none;
  border-radius: 0 4px 0 0;
  width: inherit;
}

.leftBarSlider {
  background-color: hsl(0deg 0% 100%);
  border-bottom: none;
  border-radius: 4px 0 0;
  width: inherit;
}
