.repeatedContainer {
  background-color: #ffffff;
  background-image: url('./background.svg');
  box-shadow: 0 -5px 11px 0 rgba(10, 10, 10, 0.07), 0 5px 11px 0 rgba(10, 10, 10, 0.07);
  display: flex;
  flex-flow: row;
  height: 7.5em;
  margin-top: 2em;
  overflow-x: auto;
  padding: 6px 0;
}
