.root {
  border-radius: var(--border-radius) !important;
  margin: 4px 4px 4px 0;
}

.input {
  opacity: 0;
}

.empty {
  align-items: center;
  background-color: #e8e8e8;
  border-radius: 11px !important;
  display: flex;
  height: 6.75em !important;
  padding: 10px;
  text-align: center;
  width: 6.75em !important;
}

.removeButton {
  position: absolute;
  right: 8px;
  top: 8px;
}
