.root {
  /* The transition times must be matched by the timeout value in the React code. */
  transition: opacity 300ms;
  z-index: 6000;
}

.opening {
  opacity: 0;
}

.open {
  opacity: 1;
}

.closing {
  opacity: 0;
}

.footer-placeholder {
  height: 20px;
}

.footer button:first-child {
  border-bottom-left-radius: 6px;
}

.footer button:last-child {
  border-bottom-right-radius: 6px;
}
