.figure {
  align-items: center;
  background-color: hsl(0, 0%, 96%);
  display: flex;
  height: 100%;
  justify-content: center;
  text-align: center;
  vertical-align: baseline;
  width: 100%;
}

.image {
  max-height: 16vh;
  position: relative;
}

.button {
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
}
