.modal {
  max-width: 100vw;
  width: 960px;
}

.clickable {
  cursor: pointer;
  white-space: nowrap;
}

.hideCheckboxes {
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 1rem;
}

.noWrap {
  white-space: nowrap;
}

.boolean {
  text-align: center !important;

  & label {
    margin: 0 !important;
    padding-left: 1rem !important;
  }
}
