.cursor {
  cursor: pointer;
}

.hiddenOverflow {
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.image-size {
  height: 224px !important;
  object-fit: fill;
}
