:not(.fas) {
  font-family: var(--font-family) !important;
}

.root {
  align-items: center;
  background-image: url('./background.svg');
  background-position: bottom;
  background-repeat: no-repeat;
  display: flex;
  height: 100vh;
  justify-content: center;
  text-align: center;
  width: 100vw;
}

.loading {
  max-width: 60vw;
}

.circle {
  background-color: transparent;
  border: none;
  cursor: pointer;
  display: flex;
  height: 30vw;
  justify-content: center;
  outline: none;
  width: 30vw;
}

.icon {
  width: 50%;
}

.header {
  color: var(--primary-color);
  font-size: 1.5rem;
  font-weight: 400;
  text-transform: uppercase;
}

.subheader {
  color: #000000;
}
