.root td {
  vertical-align: middle !important;
}

.id {
  overflow-x: hidden;
  text-align: right !important;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.author {
  overflow-x: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.modal {
  width: 960px;
}
