.large {
  font-size: 1.5rem;
  gap: 0.75rem;

  & > span {
    font-size: 2rem;
    height: 7.5rem !important;
    width: 7.5rem !important;
  }
}

.medium {
  font-size: 1.25rem;
  gap: 0.625rem;

  & > span {
    font-size: 1.25rem;
    height: 3.5rem !important;
    width: 3.5rem !important;
  }
}

.normal {
  gap: 0.5rem;

  & > span {
    font-size: 1rem;
    height: 1.5rem !important;
    width: 1.5rem !important;
  }
}

.small {
  font-size: 0.75rem;
  gap: 0.375rem;

  & > span {
    font-size: 0.625rem;
    height: 1.125rem !important;
    width: 1.125rem !important;
  }
}

.checkbox[type='checkbox'] {
  opacity: 0;
  position: absolute;

  & + label {
    border-radius: 4px;
    cursor: pointer;
    display: flex;
    flex-wrap: wrap;
  }

  /* stylelint-disable-next-line selector-max-type */
  & + label > span {
    border: 0.1rem solid hsl(0deg 0% 86%);
    border-radius: 4px;
    height: 1.5rem;
    width: 1.5rem;
  }

  /* stylelint-disable-next-line selector-max-type */
  & + label > span:hover {
    border-color: var(--primary-color) !important;
  }

  /* stylelint-disable-next-line selector-max-type */
  &:checked + label > span {
    border-color: var(--primary-color) !important;
    color: var(--primary-color) !important;
  }

  /* stylelint-disable-next-line selector-max-type */
  & + label.link > span:hover {
    border-color: var(--link-color) !important;
  }

  /* stylelint-disable-next-line selector-max-type */
  &:checked + label.link > span {
    border-color: var(--link-color) !important;
    color: var(--link-color) !important;
  }

  /* stylelint-disable-next-line selector-max-type */
  & + label.info > span:hover {
    border-color: var(--info-color) !important;
  }

  /* stylelint-disable-next-line selector-max-type */
  &:checked + label.info > span {
    border-color: var(--info-color) !important;
    color: var(--info-color) !important;
  }

  /* stylelint-disable-next-line selector-max-type */
  & + label.success > span:hover {
    border-color: var(--success-color) !important;
  }

  /* stylelint-disable-next-line selector-max-type */
  &:checked + label.success > span {
    border-color: var(--success-color) !important;
    color: var(--success-color) !important;
  }

  /* stylelint-disable-next-line selector-max-type */
  & + label.warning > span:hover {
    border-color: var(--warning-color) !important;
  }

  /* stylelint-disable-next-line selector-max-type */
  &:checked + label.warning > span {
    border-color: var(--warning-color) !important;
    color: var(--warning-color) !important;
  }

  /* stylelint-disable-next-line selector-max-type */
  & + label.danger > span:hover {
    border-color: var(--danger-color) !important;
  }

  /* stylelint-disable-next-line selector-max-type */
  &:checked + label.danger > span {
    border-color: var(--danger-color) !important;
    color: var(--danger-color) !important;
  }

  /* stylelint-disable-next-line selector-max-type */
  & + label.dark > span:hover {
    border-color: var(--dark-color) !important;
  }

  /* stylelint-disable-next-line selector-max-type */
  &:checked + label.dark > span {
    border-color: var(--dark-color) !important;
    color: var(--dark-color) !important;
  }

  /* stylelint-disable-next-line selector-max-type */
  & + label.white > span:hover {
    border-color: var(--white-color) !important;
  }

  /* stylelint-disable-next-line selector-max-type */
  &:checked + label.white > span {
    border-color: var(--white-color) !important;
    color: var(--white-color) !important;
  }
}
