.childItem {
  border: 0;
  border-bottom: 1px solid hsl(0deg 0% 88%);
  border-radius: 0;
  font-size: 14px;
  height: 25px;
  justify-content: flex-start;
  padding-left: 2.5rem;
  width: 100%;
}

.subParent {
  border: 0;
  border-bottom: 1px solid hsl(0deg 0% 88%);
  border-radius: 0;
  font-size: 14px;
  font-style: italic;
  height: 28px;
  justify-content: flex-start;
  margin: 0;
  padding: 0 0 0 0.9rem;
  width: 100%;
}

/* adds indentation line before the sub-page parent */
.subParent::before {
  border-left: 2px solid hsl(0deg 0% 29%);
  content: '';
  height: 98%;
  left: 17px;
  position: absolute;
  width: 5px;
}

/* adds indentation line before the selected sub-page parent
  but the line is white for better readibility
*/
.subParent:global(.is-link)::before {
  border-left: 2px solid hsl(0deg 0% 100%);
  content: '';
  height: 98%;
  left: 17px;
  position: absolute;
  width: 5px;
}
