.root {
  max-width: 960px;
}

.icon {
  height: 192px;
  width: 192px;
}

.appMeta {
  flex: 1 1 auto;
}

.titleContainer {
  display: flex;
  justify-content: space-between;
}

.title {
  align-items: center;
  display: flex;
}

.buttonContainer {
  flex-flow: column;
}
