.footer {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
}

.root {
  display: flex;
  flex: 1;
  flex-direction: column;
  height: 93%;
  justify-content: flex-start;
  margin-left: 8px;
  margin-right: 8px;
}

.main {
  flex: 1;
  margin-bottom: 12px;
  overflow: auto;
}

.marginTop {
  margin-top: 28px;
}
