.root {
  display: flex;
  height: 100%;
}

.leftPanel {
  flex: 1 1 0;
}

.rightPanel {
  background-color: hsl(0, 0%, 7%);
  border-radius: 22px;
  box-sizing: border-box;
  display: flex;
  flex: 1 1 0;
  margin-left: 4px;
  padding: 22px;
}

.editorForm {
  display: flex;
  flex-flow: column;
  height: 100%;
  margin-bottom: 0;
}

.appFrame {
  background-color: hsl(0, 0%, 100%);
  border: none;
  flex: 1;
}
