.root {
  max-width: 960px;
  width: 100%;
}

.icon {
  font-size: 5rem;
  height: 128px;
  width: 128px;
}

.list {
  display: grid;
  grid-auto-rows: 1fr;
  grid-gap: 10px;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  justify-content: center;
  margin: 0 auto 1.5rem;
}

.isPositionedBottomRight {
  bottom: 2rem;
  margin: 10px;
  position: fixed;
  right: 2rem;
}

/* stack things on top of each other */
.stack {
  display: grid;
}

.stack > * {
  grid-area: 1 / 1 / 1;
}
