.appList {
  display: grid;
  grid-auto-rows: 1fr;
  grid-gap: 10px;
  /* stylelint-disable-next-line plugin/no-unsupported-browser-features */
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  padding: 10px;
}
