.container {
  margin: 0 auto;
}

.container > div {
  display: contents;
  height: 100%;
}

/* stylelint-disable-next-line selector-max-type */
.container > div > iframe {
  position: unset !important;
}

.error {
  margin: 0 auto;
  max-width: 640px;
}
