.createAppCard {
  border: 1px dashed hsl(0, 0%, 80%);
  box-shadow: none;
  color: hsl(0, 0%, 80%);
  cursor: pointer;
  height: 100%;
  min-height: 209px;
  user-select: none;
}

.createAppCardContainer {
  height: 100%;
}
