.container {
  display: flex;
  flex-flow: column;
  margin: 0 auto;
  padding: 15px;
  width: 75%;
}

.title {
  font-size: 1.5em;
  font-weight: 400;
  text-align: center;
}

.actionField,
.title {
  margin-bottom: 10px;
}

.button {
  border-width: 2px;
}

.actionLabel {
  margin-left: 10px;
  vertical-align: sub;
}

.button,
.enum {
  border-radius: 20px !important;
  width: 100%;
}

.enumField {
  display: flex;
  flex-flow: column;
  text-align: center;
}
