.menuList {
  background-color: hsl(0, 0%, 100%);

  & > li > * {
    border-radius: 0;
    padding: 1em;

    &.active {
      background-color: var(--primary-color);
      color: var(--primary-color-invert);
    }
  }
}
