.button {
  border-radius: 0;
  width: 100%;
}

[data-block='@appsemble/button-list'][data-path='pages.vragenlijst-maken.steps.1.blocks.4'][data-path-index='pages.7.steps.1.blocks.4'] {
  width: 50%;
  margin-left: auto;
  margin-right: 0;
  margin-bottom: 50px;
}

[data-block='@appsemble/form'][data-path='pages.vragenlijst-maken.steps.2.blocks.2'][data-path-index='pages.7.steps.2.blocks.2'] {
  flex: initial;
}

input,
textarea {
  border-radius: 0 !important;
}

[class='button is-white'] {
  justify-content: left;
  color: var(--primary-color) !important;
}
