.backdrop {
  background-color: rgba(0, 0, 0, 0.5);
  bottom: 0;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 2000 !important;
}

.menu {
  background-color: hsl(0, 100%, 100%);
  bottom: 0;
  left: 0;
  max-width: 80vw;
  min-width: 30vw;
  position: fixed;
  right: 0;
  top: 0;
  transition: transform 0.3s cubic-bezier(0, 0.52, 0, 1);
  width: 640px;
  z-index: 3000;

  &.hidden {
    transform: translate3d(-100vw, 0, 0);
  }

  &.active {
    overflow: hidden;
    transform: translate3d(0, 0, 0);
  }
}
