.item {
  background-color: transparent;
  border: none;
  border-radius: 4px;
  color: inherit;
  cursor: pointer;
  font-family: inherit;
  font-size: 100%;
  height: 100%;
  line-height: 1.15;
  position: relative;
  width: 100%;
}

.header {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.header > * {
  display: inline;
}

.headerWrapper {
  justify-content: space-between;
}

.title {
  font-weight: bold;
}

.dropdown {
  align-self: flex-end;
}

.image {
  align-items: center;
}
