.option {
  background-color: hsl(0deg 0% 96%);
  border: none;
  border-radius: 4px;
  color: inherit;
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  min-width: 300px;
  position: relative;
  width: 100%;
}

.contentWrapper {
  width: 100%;
}

.image {
  align-items: center;
}
