.root {
  border-radius: 12px !important;
  display: inline-block;
  overflow: hidden;
  position: relative;
}

.img {
  height: 100% !important;
  object-fit: cover;
  width: 100% !important;
}

.button {
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 0 !important;
}

.download {
  align-items: center;
  background: rgb(10 10 10 / 20%);
  border: none;
  border-radius: 9999px;
  color: rgb(255 255 255);
  cursor: pointer;
  display: inline-flex;
  font-size: 1.5rem;
  height: 40px;
  justify-content: center;
  position: fixed;
  right: 72px;
  text-decoration: none;
  top: 20px;
  width: 40px;
  z-index: 1;
}

.download:hover {
  background: rgb(10 10 10 / 30%);
  color: rgb(255 255 255);
}
