/* stylelint-disable selector-max-specificity */
.locatie {
  padding: 0 !important;

  & .title {
    display: none !important;
  }
}

.fotos {
  background-image: url(./amsterdam/camera.svg);
}

.proces {
  background-image: url(./amsterdam/process.svg);
  border-bottom: 1px solid #bebebe8c;
}

.onderwerp {
  background-image: url(./amsterdam/description.svg);
}

.notities {
  background-image: url(./amsterdam/description.svg);
  border-bottom: 1px solid #bebebe8c;
}

.title:not(:last-child) {
  margin-bottom: 0;
}

.fotos .container {
  background-color: #ffffff;
  background-image: url('./background.svg');
  box-shadow: 0 -5px 11px 0 rgba(10, 10, 10, 0.07), 0 5px 11px 0 rgba(10, 10, 10, 0.07);
  display: flex;
  flex-flow: row;
  height: 7.5em;
  left: 0;
  margin: 3.5em auto;
  overflow-x: auto;
  padding: 6px 0;
  position: absolute;
  width: 100%;
}

:not(.container) > .container > .container {
  background-color: #ffffff;
  background-position: 1em 1.3em;
  background-repeat: no-repeat;
  padding: 1.5em 0.75em 1.5em 4em;
  position: initial;
}
