/* stylelint-disable selector-max-specificity */
:not(.container) > .container > .container {
  background-position: 1em 1em;
  background-repeat: no-repeat;
  border-bottom: 1px solid #dedede;
  padding: 0.8em 0.75em 0.8em 4.6em;
}

.locatie {
  padding: 0 !important;

  & .title {
    display: none !important;
  }
}

.fotos {
  background-image: url(./amsterdam/camera.svg);
}

.proces {
  background-image: url(./amsterdam/process.svg);
}

.onderwerp {
  background-image: url(./amsterdam/description.svg);
}

.notities {
  background-image: url(./amsterdam/description.svg);
}

/* new additions */ 