.root {
  height: 100%;
  width: 100%;
}

.appFrame {
  background-color: hsl(0deg 0% 100%);
  border: none;
  flex: 1;
  height: 100%;
  width: 100%;
}

.sslLoader {
  height: initial;
  text-align: center;

  &::after {
    height: 6em;
    width: 6em;
  }
}
