.root {
  bottom: 10px;
  box-sizing: border-box;
  margin-left: 10px;
  margin-right: 10px;
  position: fixed;
  transition: linear bottom 0.3s;
  width: calc(100vw - 20px);
  z-index: 1000;

  /* stylelint-disable-next-line selector-max-specificity */
  &.hidden {
    bottom: -100px;
  }
}

.content {
  min-height: 64px;
}
