html {
  overflow-y: auto;
}

body {
  height: 100vh;
}

/* stylelint-disable-next-line selector-max-id */
#app {
  height: calc(100vh - 3.25rem);
}

.browsers {
  margin: auto;
  text-align: center;
}

.browser-logo {
  display: inline-block;
  margin: 8px 48px;
  max-width: 196px;
  width: 50%;
}

/**
 * Fix mermaid styles that conflict with Bulma.
 */
/* stylelint-disable-next-line selector-max-attribute */
[id^='mermaid-'] .label {
  display: unset !important;
  font-size: unset;
  font-weight: unset;
  line-height: 1;
}
