.dotContainer {
  padding-right: 15px;
  padding-top: 15px;
  position: fixed;
  right: 0;
  z-index: 1000;
}

.dot {
  background-color: hsl(0, 0%, 100%);
  border: none;
  border-radius: 50%;
  display: inline-block;
  height: 10px;
  margin: 0 2px;
  opacity: 0.2;
  width: 10px;
}

.dot.previous {
  opacity: 0.5;
}

.dot.active {
  opacity: 1;
}
