.root {
  flex: 1;
  height: 80vh;
}
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
=======
>>>>>>> c3596f4b7 (Add security sidebar)
=======
>>>>>>> 8d04ea040 (Add security sidebar)

.leftBarButton {
  border: 0;
  border-bottom: 1px solid hsl(0deg 0% 88%);
  border-radius: 0;
  height: 30px;
  margin: 0;
  padding: 0;
  width: 100%;
}

<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
=======
>>>>>>> 9aa72fe2a (Add renaming roles changing all references)
.modal {
  max-width: 100vw;
  width: 480px;
}

<<<<<<< HEAD
=======
>>>>>>> c3596f4b7 (Add security sidebar)
=======
>>>>>>> 9aa72fe2a (Add renaming roles changing all references)
=======
>>>>>>> 8d04ea040 (Add security sidebar)
.rightBar {
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
  row-gap: 0.8rem;
  width: 100%;
}
<<<<<<< HEAD
<<<<<<< HEAD
=======
>>>>>>> f5da7b0da (Add translation in messages and applied suggestions)
=======
>>>>>>> c3596f4b7 (Add security sidebar)
=======
>>>>>>> 8d04ea040 (Add security sidebar)
