.titleContainer {
  align-items: center;
  display: flex;
  margin-bottom: 0.5em;
}

.titleContainer > figure {
  margin-right: 1em !important;
}

.ratingButton,
.rating {
  margin-bottom: 1em;
}

.tag {
  margin-left: 0.5rem;
}

.description {
  white-space: pre;
}
