.imageScannerWrapper {
  display: inline-block;
  position: relative;
}

.alignLeft {
  justify-content: flex-start;
}

.alignCenter {
  justify-content: center;
}

.alignRight {
  justify-content: flex-end;
}

.hiddenInput {
  display: none;
}

button {
  background: transparent;
  border: none;
  cursor: pointer;
}

.img {
  object-fit: cover;
}

.placeholder {
  background-color: hsl(218deg 100% 66%);
}

.rounded {
  border-radius: 50%;
}

.fill {
  display: block;
  position: relative;
  width: 100%;
}

.fill button {
  display: block;
  padding: 0;
  width: 100%;
}

.fill img {
  display: block;
  width: 100%;
}

.fileLabel {
  background-color: var(--primary-color);
  border: none;
  border-radius: 50%;
  bottom: 0%;
  box-shadow:
    0 3px 5px -1px rgb(0 0 0 / 20%),
    0 6px 10px 0 rgb(0 0 0 / 14%),
    0 1px 18px 0 rgb(0 0 0 / 12%);
  cursor: pointer;
  padding: 18px;
  position: absolute;
  right: -5%;
}

.fileLabel:hover {
  filter: brightness(0.7);
}

.fill .fileLabel {
  bottom: 0.75rem;
  right: 0.75rem;
}

.fullscreenImage {
  aspect-ratio: auto;
  object-fit: contain;
}
