.imageScannerWrapper {
  display: inline-block;
  position: relative;
}

.hiddenInput {
  display: none;
}

button {
  background: transparent;
  border: none;
  cursor: pointer;
}

.img {
  object-fit: cover;
}

.fileLabel {
  background-color: var(--primary-color);
  border: none;
  border-radius: 50%;
  bottom: 0%;
  box-shadow:
    0 3px 5px -1px rgb(0 0 0 / 20%),
    0 6px 10px 0 rgb(0 0 0 / 14%),
    0 1px 18px 0 rgb(0 0 0 / 12%);
  cursor: pointer;
  padding: 18px;
  position: absolute;
  right: -5%;
}

.fileLabel:hover {
  filter: brightness(0.7);
}
