.logo {
  flex: 0 0 auto;
}

.metaWrapper {
  flex: 1 1 auto;
  flex-flow: column;
  overflow-x: visible;

  @media (width >= 1024px) {
    flex-flow: row;
  }
}

.meta {
  flex: 1 1 auto;
  overflow-x: hidden;
}

.ellipsis {
  overflow: hidden;
  padding-bottom: 0.4rem;
  text-overflow: ellipsis;
  white-space: nowrap;

  @media (width < 360px) {
    max-width: 8rem;
  }

  @media (width >= 360px) and (width <= 400px) {
    max-width: 10rem;
  }

  @media (width > 400px) and (width <= 441px) {
    max-width: 12.5rem;
  }

  @media (width > 441px) and (width <= 530px) {
    max-width: 52vw;
  }

  @media (width > 530px) and (width <= 710px) {
    max-width: 60vw;
  }

  @media (width > 710px) and (width <= 1023px) {
    max-width: 69vw;
  }

  @media (width > 1023px) and (width <= 1140px) {
    max-width: 38vw;
  }

  @media (width > 1140px) and (width <= 1259px) {
    max-width: 45vw;
  }

  @media (width > 1260px) {
    max-width: 50vw;
  }
}

.buttonContainer {
  justify-content: flex-end;

  @media (width >= 1024px) {
    display: flex;
    flex-flow: column;
    flex-wrap: wrap;
    justify-content: flex-start;
  }
}
