.root td {
  vertical-align: middle !important;
}

.id {
  overflow-x: hidden;
  text-align: right !important;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.author {
  overflow-x: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.modal {
  width: 960px;
}

.noBorder {
  border: none;
}

.dropdown :global(.dropdown-trigger) button {
  background: transparent;
  border: none;
}

/* stylelint-disable-next-line selector-max-compound-selectors, selector-max-type */
.dropdown :global(.dropdown-trigger) button span:last-child {
  display: none;
}
