.root {
  box-shadow: 0 5px 11px 0 hsla(0, 0%, 4%, 0.07);
  margin-bottom: 2em;
  position: relative;
}

.map {
  height: 240px;
  left: 0;
  position: relative;
  right: 0;
  z-index: 1;
}

.crossHairsOverlay {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;
  position: absolute;
  top: 0;
  width: 100%;
}

.crossHairs {
  background-image: url(./central-picker.svg);
  background-repeat: no-repeat;
  background-size: contain;
  font-size: 0; /* XXX: Replace with 64px; when removing central-picker.svg */
  height: 64px;
  pointer-events: none;
  width: 64px;
  z-index: 2;
}

.currentlocation {
  background-image: url(./current-location.svg);
  background-repeat: no-repeat;
  background-size: contain;
  pointer-events: none;
  z-index: 2;
}

.iconUrl {
  height: 2.5em;
  width: 2.5em;
}

.resetButton {
  background-color: var(--primary-color);
  border: none;
  border-radius: 50%;
  bottom: 10px;
  box-shadow: 0 1px 1px 0 hsl(0, 0%, 0%);
  color: transparent; /* XXX: Replace with ´var(--primary-color-invert);´ when removing current-location.svg */
  height: 36px;
  position: absolute;
  right: 10px;
  width: 36px;
  z-index: 1;

  &:hover,
  &:focus {
    color: transparent; /* XXX: Replace with ´var(--primary-color-invert);´ when removing current-location.svg */
  }
}
