.createAppCard {
  border: 1px dashed #cccccc;
  box-shadow: none;
  color: #cccccc;
  cursor: pointer;
  height: 100%;
  user-select: none;
}

.createAppCardContainer {
  height: 100%;
}

.cardFooterButton {
  background: none !important;
  border: none;
  color: #3273dc;
  cursor: pointer;
  font: inherit;
  padding: 0 !important;
}

/* stylelint-disable-next-line selector-max-specificity */
.cardFooterButton:hover {
  color: #363636;
}
