.root {
  justify-content: space-between;

  /*
   * This should overlay the side menu and side menu backdrop z-index
   *
   * The side menu has a z-index of 1500, the backdrop a z-index of 1400
   */
  z-index: 1600 !important;
}

.tag {
  display: none !important;
  text-decoration: none !important;

  @media screen and (width >= 1024px) {
    display: inline-flex !important;
  }
}

.logo {
  display: none;

  @media screen and (width >= 1024px) {
    display: unset;
  }
}

/* CSS hacks to override Bulma’s media queries */
.dropdowns {
  align-items: stretch;
  display: flex;
  justify-content: flex-end;
  margin-left: auto;
}

.dropdown > button {
  align-items: center;
  display: flex;

  &::after {
    border-color: hsl(0deg 0% 100%) !important;
  }
}

.dropdown > div {
  background-color: hsl(0deg 0% 100%);
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  border-top: 2px solid hsl(0deg 0% 86%);
  box-shadow: 0 8px 8px rgb(10 10 10 / 10%);
  display: none;
  font-size: 0.875rem !important;
  left: auto;
  min-width: 100%;
  position: absolute;
  right: 0;
  top: 100%;
  z-index: 1500;
}

.dropdown button,
.dropdown button:hover {
  color: hsl(0deg 0% 100%);
  font-size: 0.875rem;
}

.dropdown :global(.navbar-item) {
  padding: 0.375rem 1rem;
  white-space: nowrap;

  &:global(.is-active) {
    background-color: hsl(0deg 0% 21%);
    color: hsl(0deg 0% 100%);
  }
}

.dropdown hr {
  display: block;
}

.dropdown:global(.is-active) {
  & > div,
  & > hr {
    display: block;
  }

  & > button {
    background-color: hsl(0deg 0% 16%);
    color: hsl(0deg 0% 100%);
  }
}
