.blockStore {
  border-color: hsl(0deg 0% 53%);
}

.blockStoreHeader {
  border-bottom: 1px solid;
  border-color: hsl(0deg 0% 53%);
  border-top: 1px solid;
}

.blockStoreSearch {
  border-color: hsl(0deg 0% 53%);
  margin: 15px 25px -10px;
}

.title {
  margin: auto;
}

/* the div containing the blocks list element */
.blocksList {
  height: calc(100vh - 19rem);
  overflow-y: scroll;
}

/* Add shadow to search field on block store page */
/* stylelint-disable-next-line selector-max-type */
div.blockStoreSearch > div.searchField > div.searchField {
  box-shadow: 0 5px 13px -5px rgba(0 0 0 / 30%);
}
